

body {

    margin: 0;
    padding: 0;
    height: 200px;

}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: flex-start;
    width: 311px;
    height: 631px;
    background-color: #F9E423;
    margin-bottom: 226px;
    
    


}


.as {
    color: #AA6F34;
    position:relative;
    left:1px
}


h4 {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;



}

span {


    align-items: start;
    gap: 25px;
    font-size: 18px;



}

.spanGeral {
   
    position: relative;
    width: 310px;
    padding: 45px 5px;
    right:6px
    

}


.rightIcon2 {

    bottom: 100px;


}

.rightIcon3 {

    position: relative;
    left: 10px
}

.home {
    position: relative;
    width: 100%;
    left: 20px;

    
}

.homeAlign {
    display: flex;
    align-items: center;

}

.userAlign {
    display: flex;
    align-items: center;
    

}

.emotionAlign {
    display: flex;
    align-items: center;

}

.userRight {
    position: relative;
    left: 110px;

}

.d-menu{
    
   position: relative;
   top:10px;
   padding: 0px 3px;
   
   
}



.ulSubMenu{
    display: none;
    flex-direction: column;
    position: relative;
    right:72px;
    
   
  
  
   

}

.aSub{
    position: relative;
   
    width: 100%;
  
   
  
  
   

}

.dropTopo-menu li:hover > .ulSubMenu{
         display:block;
         
         
}

.dropTopo-menu li:hover > a{
    


}

ul li a:hover{
    
    
            
          
   
    

}

.ulSubMenu a{
   
 
    width: 250%;
    font-size: 18px;
    border-left: 8px solid #F48221;
    background:#FAA61A;
    color:white;
    
    

}

.dropTopo-menu{
    
    display: flex;
    
    position:relative;
    flex-direction: column;
    
    right:78px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    
    letter-spacing: 0.2px;
   
    

}

.dropTopo-menu li{     /*esse aqi*/
    display: flex;
   position: relative;
   flex-direction: column;
   list-style: none;
    width: 250px;
    padding-left: 35px;
    color:#AA6F34;
    

}

.imgMenu{
     width: 33px;

}
.imgMenu2{
    width: 45px;
    position: relative;
    left:50px


}

.imgMenu2:hover{
    transform: scale(1.0) rotate(90deg);
    
 
 }

.dropTopo-menu a{
    display: flex;
    align-content: center;
    align-items: center;
    width: 110%;
    height: 40px;
    padding: 10px;
    transition: all .2s linear;
    padding-left:25px;
    gap:18px;
   
    color: #AA6F34;  
    
 }

.dropTopo-menu li ul li{
    
    padding-left: 32px;
}

.dropTopo-menu li:hover > a{
    border-left: 8px solid #F48221;
    background-color: #FAA61A;
    color:white;

    
 }
 .ulSubMenu li:hover > a{
    
    background-color:#F48221;
    color:white;
   
    
 }

 .ulSubMenu .aSub {

   
    color:white;
   position: relative;  
   padding-left: 70px ;
 }


.user {
    position: relative;
    left:20px;
    width: 100%;

}

.emocionometer {
    width: 100%;
    position: relative;
    left:23px;
    top:142px
}

.menuDown{
    
    display: flex;
    position:relative;
    flex-direction: column;
    top:190px;
    height:10px ;
    left:2px;
    font-family: 'Nunito';
    font-size: 18px;
    letter-spacing: 0.2px;
   
    

}



.perfilOut a:hover {
    background-color: #FAA61A;

}

.perfilOut a {
    display: block;
    width: 100%;
    padding: 15px 0;
    right:20px
}

.perfilOut {
    
   display: flex;
   flex-direction: column;
    position: relative;
    top: 158px;
    width: 318px;
    
    padding: 15px 0;
   

}

.topoImg {
    display: flex;
    position: relative;
    right: 894px;
    width: 300px;
    height: 60px;



}

.topo2 {

    display: flex;
    position: relative;
    width: 1478px;
    height: 80px;
    background-color: #FFFFFF;
    font-size: 30px;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    top:10px;
    


}

.topo3 {
    position: relative;
    width: 20%;
    border: 3px solid #AA6F34;
    right: 20px;
    top: 20px;
}

.topo4 {
    position: relative;
    width: 20%;
    border: 3px solid rgba(210, 119, 46, 1);
    left: 289px;
    top: 15px
}

.topo5 {
    position: relative;
    width: 20%;
    border: 3px solid #F48221;
    left: 595px;
    top: 10px;
}

.topo6 {
    position: relative;
    width: 20%;
    border: 3px solid #FAA61A;
    left: 903px;
    top: 5px;
}

.topo7 {
    position: relative;
    width: 305px;
    border: 3px solid #F9E423;
    left: 1209px;

}




.radius {
    display: flex;
    position: relative;
    border: 1px solid black;
    width: 56px;
    height: 56px;
    border-radius: 26px;
    border: none;
    background-color: rgba(249, 228, 35, 1);
    justify-content: center;
    right: 20px;
}

.images {

    width: 35px;
    height: 35px;
    align-self: center;

}

.ane {
    opacity: 0.7;


}


a {
    color: white;
    text-decoration: none;
    

}

.meio {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    font-family: 'Nunito Sans', sans-serif;
    width: 1208px;
    height: 631px;
    font-size: 25px;
    color: black;
    align-items: center;
    bottom: 857px;
    left: 310px;
    background: var(--Cinza-de-fundo, #F5F4F9);


}

.time {
    display: flex;
    position: relative;
    bottom: 71px;
    font-size: 16px;
    gap: 55px;
    left: 427px;
   


}

.timeYellow1 {
    position: absolute;
    width: 90px;
    border: 3px solid black;
    right: 162px;
    top: 24px;
    

}

.timeYellow2 {
    position: absolute;
    width: 90px;
    border: 3px solid #F9E423;
    right: 70px;
    top: 24px
}

.timeYellow3 {
    position: absolute;
    width: 90px;
    border: 3px solid black;
    left: 165px;
    top: 24px;

}

.param {
    position: relative;
    width: 30%;
    height: 30%;
    right: 30px
}

.graficRight {

    position: relative;
    left: 674px;
    top: 180px;
    width: 496px;


}

.today {
    opacity: 0.2;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}
.week{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;

}

.img2 {
    position: absolute;
    width: 386px;
    height: 160px;
    top: 3px;
    left: 761px
}

.img5 {
    position: absolute;
    top: 7px;
    width: 386px;
    height: 325px;
    left: 88px
}

.titulEmo {
    position: relative;
    right: 426px;
    bottom: 5px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 150%

}

.meioInter {
    display: flex;
    position: relative;
    background: #FFFFFF;
    width: 700px;
    height: 467px;
    right: 213px;
    flex-direction: column;
    gap: 45px;
    bottom: 40px;
    border-radius: 32px;

}



.centralImg {
    position: relative;
    right: 270px;
    bottom: 34px;
    height: 100%;
    width: 50%;
}

.img1 {
    position: absolute;
    width: 715px;
    height: 510px;
    left: 1px;
    top: 1px
}

.dashs {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 35px;
    bottom: 30px;
}

.dash1 {
    position: relative;
    border: 1px solid black;
    /*#EEEEEE*/
    width: 619px;
    left: 54px;

}

.dash2 {
    position: relative;
    border: 1px solid black;
    /*#EEEEEE*/
    width: 619px;
    left: 54px;


}

.dash3 {
    position: relative;
    border: 1px solid black;
    /*#EEEEEE*/
    width: 619px;
    left: 54px;


}

.dash4 {
    position: relative;
    border: 1px solid black;
    /*#EEEEEE*/
    width: 619px;
    left: 54px;


}

.dash5 {
    position: relative;
    border: 1px solid black;
    /*#EEEEEE*/
    width: 619px;
    left: 54px;


}

.dash6 {
    position: relative;
    border: 1px solid black;
    /*#EEEEEE*/
    width: 619px;
    left: 54px;


}

.dash7 {
    position: relative;
    border: 1px solid black;
    /*#EEEEEE*/
    width: 619px;
    left: 54px;


}

.dash8 {
    position: relative;
    border: 1px solid black;
    /*#EEEEEE*/
    width: 619px;
    left: 54px;


}

.dash9 {
    position: relative;
    border: 1px solid black;
    width: 619px;
    left: 54px;


}

.dash10 {
    position: relative;
    border: 1px solid black;
    /*#EEEEEE*/
    width: 619px;
    left: 54px;


}

.comments {

    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 50%;
    font-family: 'Nunito';
    font-size: 36px;
    left: 298px;
    text-align: center;
    bottom: 65px
}

.faleConosco {

    width: 248px;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    top: 665px;
    font-family: 'Nunito';
    font-size: 36px;
    left: 1010px;

    text-align: center;


}

