body {
    
    margin: 0;
    padding: 0

}


img{
    border: 0;

  width:1111px;
  height:1085px


}

.container{
     display:flex;
     
     
    


}

.set{
   display: flex;
   flex-direction: column;
   
   margin: 160px;
   


}

.imagen2{
    width: 75px;
    border: 0;
    height:62px



}

.emo1{
     display:flex;
     color:rgb(145, 145, 146)
   

}

.emailSenha{

    display: flex;
    position:relative;
    align-items: space-around;
}

.backgroundImage{
     background-color:rgb(247, 247, 247);
     

}
h1{
    line-height: 140%;
   color: #212121;
  
}

#input1{
    width: 400px;
    height: 56px;
    border-radius:10px;

    
}
#senha{
    width: 400px;
    height: 56px;
    border-radius: 10px;
    
}

.generalCheck{
    display: flex;
    position:relative;
    justify-content: space-between;
   
    
}

.check{
   
    position: relative;
    
    

}

fieldset{
    width: 400px;
    height: 56px;
    border-radius: 10px;

}

